*{
    box-sizing: border-box;
}
@font-face {
    font-family: 'Helvetica Neue';
    font-weight: normal;
    font-style: normal;

}
body{
    background: url(../img/mountaines.png) no-repeat center center fixed;
    background-size: cover;
    font-family: "Helvetica Neue", sans-serif;
}
.head-menu{
    display: block;
    margin-bottom: 20px;
    padding-right: 20px;
    height: 36px;
    line-height: 36px;
    background: linear-gradient(#075190, #085393);
}
.navigation{
    float: right;
}
.navigation li{
    display: inline;
}
.navigation a{
    display: inline-block;
    padding-left: 13px;
    padding-right: 13px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #60b5ed;
    text-decoration: none;
}
.navigation a:hover{
    background: #4eabda;
    color: white;
}

.profile{
    display: block;
    float: right;
    margin-top: 2px;
    margin-left: 10px;
    margin-bottom: 3px;
    padding-left: 18px;
    padding-right: 18px;
    height: 31px;
    border-left: 1px solid #56a2dc;
}
.profile a{
    display: block;
    line-height: 31px;
    font-size: 14px;
    color: white;
    text-decoration: none;
}
.profile img{
    padding-right: 12px;
    vertical-align: middle;
}
.selection{
    display: block;
    padding-left: 15px;
    padding-right: 13px;
    float: right;
    color: white;
    font-size: 14px;
    background: url(../img/register_button.png)
}
.selection a{
    color: white;
    font-size: 14px;
    text-decoration: none;
    border-bottom: 2px solid #9ac2e4;
}
.clear-fix:after {
    content: "";
    display: block;
    clear: both;
}
.box{
    margin: 0 auto;
    height: 580px;
    width: 560px;
}
.head{
    display: block;
    margin-bottom: 2px;
    height: 42px;
    width: 560px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}
.head h1 {
    line-height: 45px;
    font-size: 24px;
    color: white;
}
.content{
    display: block;
    margin-top: 2px;
    padding-top: 36px;
    height: 533px;
    width: 560px;
    background: rgba(0, 0, 0, 0.5);
}
.facebook-button{
    display: block;
    margin: 0 auto;
    height: 35px;
    width: 274px;
    background: url("../img/button-facebook.png");
    border: none;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    color: white;
    outline: none;
}
.facebook-button:active{
    box-shadow: inset 0 0 1px hsla(0, 0%, 0%, .2),
                inset 0 1px 7px #001135;
}
.ou{
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 280px;
    line-height: 14px;
    font-size: 14px;
    text-align: center;
}
.ou span{
    padding-left: 5px;
    padding-right: 5px;
    color: #999999;
}
.ou img {
    padding-top: 5px;
    padding-bottom: 4px;
}
form{
    margin: 0 auto;
}
.field{
    display: block;
    margin: 0 auto 19px;
    padding-left: 18px;
    height: 35px;
    width: 260px;
    background: #0f0f0f;
    border: none;
    border-bottom: 1px solid #484847;
    font-size: 14px;
    color: #cccccc;
}
.field:focus{
    background: #1b5288;
    border-bottom: 1px solid #689bcc;
    color: #fffbfb;
    -webkit-box-shadow: 0 0 18px 5px rgba(75,134,175,1);
    -moz-box-shadow: 0 0 18px 5px rgba(75,134,175,1);
    box-shadow: 0 0 18px 5px rgba(75,134,175,1);
    outline: none;
}
.check-box{
    display: block;
    margin: 0 auto 23px;
    width: 280px;
}
.check-box span{
    font-size: 14px;
    color: #cccccc;
}
.button{
    display: block;
    margin: 0 auto;
    height: 35px;
    width: 149px;
    background: url(../img/button.png)/*#3f94d0*/;
    border: none;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    color: white;
    outline: none;
}
.button:active{
    font-size: 13px;
    box-shadow: inset 0 0 1px hsla(0,0%,0%,.2),
                inset 0 1px 7px #001135;
}
.footer{
    display: block;
    margin: 18px auto 0;
    width: 309px;
    text-align: center;
    line-height: 11px;
    font-size: 11px;
    color: #cccccc;
}